<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>inventory</title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script>
        function goBack() { window.history.back();}
        </script>
        <style>
            img {
              max-width: 100%;
              height: auto;
            }
        </style>
    </head>
    <body>
        <div class="jumbotron text-center">
            <h1>Details of <%=inventory[0]["name"]%></h1>
        </div>
        <div class="container-fluid">
            <div class="well">
            <div class="row">
                    <img src="data:image/<%= inventory[0]["photo"]["mimetype"] %>;base64, <%= inventory[0]["photo"]["data"] %>"><br>

            </div>
            <div class="row">
                    <p>inv_id:  <%=inventory[0]["inv_id"]%></p><br>
                    <p>Name:  <%=inventory[0]["name"]%></p><br>
                    <p>Type:  <%=inventory[0]["inv_type"]%></p><br>
                    <p>Quantity:  <%=inventory[0]["quantity"]%></p><br>
                    <p>Description:  <%=inventory[0]["description"]%></p><br>
                    <p>Owner: <%=inventory[0]["owner"]%></p><br>

                
            </div>
            </div>
            <div class="row ml-md-auto">

                <a href="/edit?id=<%=inventory[0]["_id"] %>" class="btn btn-primary" role="button">Edit</a>
                <a href="/delete?id=<%=inventory[0]["_id"]%>&owner=<%=inventory[0]["owner"]%>" class="btn btn-primary" role="button">Delete</a>
                
                <button class="btn btn-primary" onclick="goBack()">Back</button>
            </div>
            <br>
            
            <p>end ;)</p>
        </div>
    </body>
</html>
